{% extends 'dashboard.html' %}

{% block content %}
<form method="post">
    {{ form.hidden_tag() }}

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Nova categoria</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        {{ form.label.label(class='form-label') }}
                        {{ form.label(class='form-control', placeholder='Nome da categoria') }}
                        <div>
                            {% for error in form.label.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</form>


<div class="container">
    <div class="row align-items-center justify-content-between">
        <div class="col-auto">
            <h1>Categorias</h1>
        </div>
        <div class="col-auto">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Nova categoria
            </button>
        </div>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            <tr>
                <td>{{ category.label }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}